<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    
        <h:head>
            <f:facet name="first">
               
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>
            <h:form>
                <p:messages autoUpdate="true" />
                <p:fileUpload fileUploadListener="#{uploadBean.handleFileUpload(evt)}"  auto="true" 
                          fileLimit="1" required="true" requiredMessage="Please upload image!"  sizeLimit="5000000000000"  />
            <br /> 
            </h:form>
          
        </h:body>

  
</html>

